@font-face{
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue.otf") format("opentype");
  font-weight:normal;
  font-style: normal;
}
@font-face{
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Thin.otf") format("opentype");
  font-weight:thin;
  font-style: normal;
}
@font-face{
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Light.otf") format("opentype");
  font-weight:lighter;
  font-style: normal;
}
@font-face{
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Regular.otf") format("opentype");
  font-weight:300;
  font-style: normal;
}
@font-face{
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Book.otf") format("opentype");
  font-weight:400;
  font-style: normal;
}
@font-face{
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Bold.otf") format("opentype");
  font-weight:bold;
  font-style: normal;
}
@font-face{
  font-family: "Gotham";
  src: url("../fonts/Gotham-Black.otf") format("opentype");
  font-weight:300;
  font-style: normal;
}
@font-face{
  font-family: "Gotham";
  src: url("../fonts/Gotham-BlackItalic.otf") format("opentype");
  font-weight:300;
  font-style: italic;
}
@font-face{
  font-family: "Gotham";
  src: url("../fonts/Gotham-Bold.otf") format("opentype");
  font-weight:bold;
  font-style: normal;
}
@font-face{
  font-family: "Gotham";
  src: url("../fonts/Gotham-BoldIta.otf") format("opentype");
  font-weight:bold;
  font-style: italic;
}
@font-face{
  font-family: "Gotham-Book";
  src: url("../fonts/Gotham-Book.otf") format("opentype");
  font-weight:400;
  font-style: normal;
}
@font-face{
  font-family: "Gotham";
  src: url("../fonts/Gotham-BookIta.otf") format("opentype");
  font-weight:400;
  font-style: italic;
}
@font-face{
  font-family: "Gotham";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
  font-weight:lighter;
  font-style: normal;
}
@font-face{
  font-family: "Gotham";
  src: url("../fonts/Gotham-LightIta.otf") format("opentype");
  font-weight:lighter;
  font-style: italic;
}
@font-face{
  font-family: "Gotham";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
  font-weight:500;
  font-style: normal;
}
@font-face{
  font-family: "Gotham";
  src: url("../fonts/Gotham-MediumIta.otf") format("opentype");
  font-weight:500;
  font-style: italic;
}
@font-face{
  font-family: "Gotham";
  src: url("../fonts/Gotham-Thin.otf") format("opentype");
  font-weight:thin;
  font-style: normal;
}
@font-face{
  font-family: "Gotham";
  src: url("../fonts/Gotham-ThinItalic.otf") format("opentype");
  font-weight:thin;
  font-style: italic;
}
@font-face{
  font-family: "Gotham";
  src: url("../fonts/Gotham-Ultra.otf") format("opentype");
  font-weight:100;
  font-style: normal;
}
@font-face{
  font-family: "Gotham";
  src: url("../fonts/Gotham-UltraItalic.otf") format("opentype");
  font-weight:100;
  font-style: italic;
}
@font-face{
  font-family: "Gotham";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
  font-weight:50;
  font-style: normal;
}
@font-face{
  font-family: "Gotham";
  src: url("../fonts/Gotham-XLightItalic.otf") format("opentype");
  font-weight:50;
  font-style: italic;
}

body {
	width:100%;
	margin: 0 auto;
	font-family: "Gotham-Book";
  font-weight: normal;
  position: relative;
  overflow-x:hidden;
  font-size: 15px;
  background-image: url('../img/textura_basket.png');
  background-size: contain;
  background-repeat: round;
}

#header {
	font-family: "Gotham";
  font-weight:400;
  font-size: 12px;
  color: white;
	height: 50px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
	background: rgba(0,0,0,0.5);
	padding: 0 200px;
}

#plan{
	position: relative;
}

#footer {
	font-family: "Gotham";
  font-weight:400;
  font-size: 10px;
  color: white;
	height: 125px;
  z-index: 1000;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
	background: rgba(0,0,0,0.5);
	padding: 0 200px;
	background-size: cover;
}

#footer_2 {
	font-family: "Gotham";
  font-weight:400;
  font-size: 10px;
  color: white;
	height: 125px;
	position: relative;
  *z-index: 1000;
  *position: absolute;
  *bottom: 0;
  *left: 0;
  float: left;
  margin-left: -1px;
  width: 100%;
	background-image: url('../img/footer.png');
	background-size: cover;
}

#footer_mask{
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
	background: rgba(0,0,0,0.5);
	padding: 0 200px;
}

#rights{
	height: 125px;
	width: 245px;
	float: left;
	display: inline-block;
	background-image: url('../img/rights.png');
	background-position: center center;
	background-repeat: no-repeat;
}

ul{
	float: right;
	list-style-type: none;
	padding-top: 37px;
	padding-left: 20px;
}

#home {
	text-align: center;
}

#home ul {
	padding-top: 0px;
}


li{
	margin-bottom: 5px;
}

li a{
	color: white;
}

li a:hover{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#clubs_2{
	height: 125px;
	width: 45px;
	float: right;
	display: inline-block;
	background-image: url('../img/logo_clubs_2.png');
	background-position: center center;
	background-repeat: no-repeat;
}

.menu_item{
	height: 50px;
	display: inline-block;
	cursor: pointer;
	float: right;
	padding: 17px 25px;
}

.menu_item:hover{
  font-weight:bold;
}

#logo{
	height: 50px;
	width: 120px;
	float: left;
	display: inline-block;
	cursor: pointer;
	background-image: url('../img/logo.png');
	background-position: center center;
	background-repeat: no-repeat;
}

#clubs{
	height: 50px;
	width: 23px;
	float: right;
	display: inline-block;
	cursor: pointer;
	background-image: url('../img/logo_clubs.png');
	background-position: center center;
	background-repeat: no-repeat;
}

#home{
	width: 100%;
	/*background-image: url('../img/home.png');*/
	background-size: cover;
	height: 870px;
	position: relative;
}

#logo_home{
	position: absolute;
  top: 35%;
  width: 240px;
	left:50%;
	transform:translate(-50%,-50%);
}

h1{
	width: 100%;
  float: left;
  font-family: "Gotham";
  font-weight: 400;
  font-size: 50px;
  color: white;
  text-align: center;
  letter-spacing: 4px;
}

#home h1{
  margin-top: 500px;
  margin-bottom: 50px;
}

.btn_clubs{
  font-family: "BebasNeue";
  font-weight:bold;
	width: 190px;
	height: 50px;
	border-radius: 10px;
	color: white;
	margin: 0 auto;
	border: none;
	display: block;
	display: -moz-inline-stack;
	font-size: 23px;
  letter-spacing: 3px;
  padding-top: 5.5px;
  padding-left: 10px;
}

.black_trans, .black_trans:focus{
	background: rgba(0,0,0,0.5);
}

.orange_trans, .orange_trans:focus{
	background: rgba(240,90,41,0.5);
}

.blue_trans, .blue_trans:focus{
	background: rgba(0,225,225,0.7);
}

#home p {
  font-family: "Gotham";
  font-weight: 400;
  font-size: 15px;
  color: white;
  text-align: center;
  margin-top: 40px;
  letter-spacing: 4px;
}

#goodbye{
	width: 100%;
  float: left;
  *padding: 90px;
  *background-image: url('../img/basket.png');
  *background-size: cover;
  *height: 1300px;
  position: relative;
}

#supporters{
	width: 100%;
  float: left;
  height: 400px;
  position: relative;
}

#supporters img{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

section p, #bonus p {
  font-family: "Gotham-Book";
  font-size: 15px;
  color: white;
  text-align: center;
  margin-top: 40px;
  letter-spacing: 2px;
}

#title_gb{
	color: white;
  margin-bottom: 50px;    
  margin-top: 205px;
}

#title_zv{
	color: white;
  margin-bottom: 50px;    
  margin-top: 100px;
}

#title_w{
	color: white;
  margin-bottom: 90px;    
  margin-top: 100px;
}

#title_b{
	color: white;
  margin-bottom: 40px;    
  text-align: right;
}

#title_s{
	color: black;
  margin-bottom: 40px; 
      line-height: 1.5; 
}

#kobe{
	width: 100%;
	float: left;
	/*background-image: url('../img/kobe.png');*/
	background-size: cover;
	height: 1115px;
	position: relative;
	padding-top: 60px;
	*padding: 60px 200px;
	position: relative;
}

#kobe > h1{
	text-align: right;
	margin-bottom: 70px;
	padding-right: 200px;
}

#kobe > p {
  font-family: "Gotham";
  font-weight: 400;
  font-size: 20px;
  color: white;
  text-align: right;
  letter-spacing: 2px;
	margin-right: 200px;
}

#kobe > b {
	color: #00e1ff;
}

#whats{
	width: 100%;
	float: left;
	background-image: url('../img/fondo_degradado.png');
	background-size: cover;
	height: 547px;
	*margin-top: 220px;
	position: absolute;
	bottom: 0;
}

#whats_contain{
	width: 615px;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

#whats h1{
	color: #00e1ff;
	margin-bottom: 100px;
	font-size: 50px;
}
h1 b {
	font-weight:100;
}

#whats h1 b {
	font-weight:100;
}

#whats p {
  font-family: "Gotham";
  font-weight: 400;
  font-size: 15px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

#haka{
	width: 100%;
	float: left;
	padding: 40px 0 70px;
	background-image: url('../img/haka.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 730px;
}

#haka h1 {
	margin-top: 100px;
	font-size: 50px;
}

#haka h1 b {
	font-weight:100;
}

#haka > div {
	width: 100%;
	float: left;
	margin-top: 80px;
}

#haka > div > div {
	width: 571px;
	margin: 0 auto;
}

#haka p{
  font-family: "Gotham";
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: white;
}
#clubsin{
	width: 100%;
	float: left;
	padding: 170px 0px 140px;
	text-align: center;
	background:white;
	position: relative;
	color: black;
}

#clubsin h1{
	font-size: 50px;
	font-weight: 100;
	text-align: center;
	letter-spacing: 3px;
	color: black;
	margin-top: 0;
}

#clubsin h4{
	text-align: center;
  font-family: "Gotham";
  font-weight: 400;
  font-size: 50px;
}

.view-with-margin-v {
    width: 560px;
    margin: 80px auto;
}

#clubsin p {
	text-align: center;
  font-family: "Gotham";
  font-weight: 400;
  font-size: 30px;
  margin-top: 85px;
}

#bonus p {
  font-family: "Gotham";
  font-weight: 400;
  font-size: 15px;
  text-align: right;
  color: white;
  letter-spacing: 2.6px;
}

#bonus b {
	font-weight:100;
}

#chromecast {
  width: 445px;
  float: left;
  margin-top: 24%;
}

#plan{
	width: 100%;
	float: left;
	*padding: 90px 80px;
	/*background-image: url('../img/tenis.png');
	background-size: cover;
	background-repeat: no-repeat;*/
	position: relative;
	height: 1130px;
	*padding-bottom: 200px;
	*margin-top: -320px;
}

#plan h1{
	font-size: 50px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 65px;
	letter-spacing: 3px;
}

#plan h1 b {
	font-weight:100;
}

#steps {
	float: left;
	width: 100%;
}

#apply {
	display: table;
	width: 100%;    
	height: 100%;
	background-image: url('../img/fondo_apply.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding: 0 200px;
}

#apply b{
  font-weight: 100;
}

h2{
  font-family: "Gotham";
  font-weight: 100;
  font-size: 70px;
  text-align: center;
  color: white;
  letter-spacing: 2.6px;
  margin-top: 125px;
  margin-bottom: 55px;
}

#apply > p{
  font-family: "Gotham";
  font-size: 25px;
  text-align: center;
  color: white;
}

#personal_contact{
	padding-right: 125px;
	text-align: left;
	position: relative;
}

#club_details{
	padding-left: 125px;
	text-align: right;
}

h3{
  font-family: "Gotham";
  font-size: 20px;
  font-weight: 100;
  color: white;
	border: solid 1px white;
	border-radius: 5px;
	padding: 6px;
	margin-bottom: 35px;
}

#personal_contact h3{
	float: left;
}

#club_details h3{
	float: right;
}

#form{
	width: 100%;
	max-width: 800px;
	display: table;
	margin: 0 auto;
	margin-top: 70px;
}

.input_content{
	float: left;
	width: 100%;
	margin-bottom: 30px;
}

.input_content > div{
	padding: 0px;
}

.input_clubs{
	width: 100%;
	border-radius: 8px;
	background-color: rgba(255,255,255,0.5);
  font-family: "Gotham";
  font-size: 12px;
  font-weight:thin;
  border: none;
  font-style: italic;
  color: black;
  height: 35px;
  padding-left: 10px;
}

label{
	width: 100%;
  font-family: "Gotham";
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.input_left{
	padding-right: 10px !important;
}

.input_right{
	padding-left: 10px !important;
}

.sub_label {
  font-family: "Gotham";
  font-size: 16px;
  font-weight:400;
  font-style: normal;
}

hr{
	height: 320px;
	width: 1px;
	background:white;
	position: absolute;
  top: 50%;
	right:0;
	transform:translate(-50%,-50%);
}

#form p{
  font-family: "Gotham";
  font-size: 20px;
  text-align: center;
  color: white;
  float: left;
  width: 100%;
  margin-top: 85px;
  margin-bottom: 60px;
}

.submit{
	float: left;
	width: 100%;
}

#submit_content{
	width: 130px;
	margin: 0 auto;
}

.left{
	float: left;
	text-align: left;
}

.right{
	float: right;
	text-align: right;
}

#submit_content > div {
	float: left;
	margin-bottom: 40px;
}

.radio_clubs{
	cursor: pointer;
	border: 1px solid white;
	background-color:none;
	width: 25px;
	height: 25px;
}

.submit label {
  font-family: "Gotham";
  font-size: 15px;
  font-weight: bold;
  margin-bottom: -5px;
}

form .btn_clubs{
	width: 100% !important;
	margin-bottom: 205px;
	    padding-left: 10px;
}

#confirmation{
	float: left;
	width: 100%;
	background-image: url('../img/fondo_confirmation.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding: 0 160px;
	height: 1190px;
}

#confirmation h2{
	margin-top: 220px;
}


#confirmation p{
  font-family: "Gotham";
  font-size: 25px;
  text-align: center;
  color: white;
  display: table;
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 60px;
}

@keyframes animado {
from{ opacity: 0;}
to{opacity: 1;}
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.animar {
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 2s;
}

.animated{
	opacity: 0;
}

.btn-pekeupload{
	background-color: rgba(255,255,255,0.8);
  font-family: "BebasNeue";
  font-weight:bold;
	border-radius: 10px;
	color: black;
	border: none;
	font-size: 23px;
  letter-spacing: 3px;
  padding: 15px;
}

.btn-pekeupload:hover{
	text-decoration: none;
	color: black;
}

.btn-pekeupload:after, a:focus, a:hover{
    text-decoration: none !important;
    color: black !important;
}

#upload_btn{
	width: initial !important;
	padding: 0 15px;
	margin-top: 40px;
}

#burger{
	display: none;
	float: right;
	height: 50px;
	width: 50px;
	float: right;
	cursor: pointer;
	background-image: url('../img/burguer.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
#menu_movil{
	display: none;
	    float: left;
    width: 100%;
    font-size: 16px;
}
.menu_movil{
	    padding: 10px 0px;
    cursor: pointer;
}
.menu_movil:hover{
    font-weight: bold;
}

.copy{
  height: 27px;
  border: solid 1px white;
  border-radius: 10px;
  color: white;
  font-weight: 400;
  cursor: pointer;
  float: left;
  margin-top: 10px;
  padding: 3px 10px !important;
  font-size: 12px;
}
.parallax-window {
    min-height: 800px;
    background: transparent;
}

#club_details{
  padding-right: 0 !important;
}
#personal_contact{
  padding-left: 0 !important;
}
#goodbye{
	width: 100%;
	float: left;
	height: 1591px;
}
#zona_verde{
	width: 100%;
	float: left;
	height: 1417px;
}
#chrome{
	width: 100%;
	float: left;
	height: 3439px;
}
#chrome_{
	width: 100%;
	float: left;
	padding: 0 19%;
}
#bonus{
	margin-top: 33%;
	text-align: right;
	float: right;
	width: 490px;
}

#goodbye,#zona_verde,#chrome{
	position: relative;
}
.fondo_img{
	width: 100%;
	/*background-image: url('../img/basket_head.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 650px;*/
	position: absolute;
	top: 0;
	left: 0;
}

.supporters{
	color: black;
	position: absolute;
  bottom: 0%;
  width: 630px;
	left:50%;
	transform:translate(-50%,-50%);
}

#slider{
	width: 100%;
	float: left;
	    margin-top: 200px;
}

.over{
	font-size: 40px;
	color: black;
	    margin-top: 90px;
}

.over b{
  font-family: "Gotham";
  font-weight:100;
}

#owl-demo-v{
	margin-top: 220px;
}

#plan_btn{
	position: absolute;
  bottom: 4%;
	left:50%;
	transform:translate(-50%,-50%);
}

#plan_sect{
  float: left;
  width: 100%;
  padding: 0 15%;
  padding-top: 215px;
  margin-left: 50px;
  margin-bottom: 40px;
}

.carrusel-margins{
	padding: 0 10%;
}





















































/*
@media(min-width: 1400px){
	#kobe .parallax img{
	  transform: translate3d(-50%, 410px, 0px) !important;
	}
}

*/

@media(min-height: 900px){
	#home h1 {
    margin-top: 57vh;
  }
}

@media(max-width: 1890px){

	#plan_sect {
    padding: 215px 18% 0;
  }

}


@media(max-width: 1820px){
	#chrome_ {
    padding: 0 14%;
	}
	#chromecast {
    margin-top: 14%;
	}
	#plan_sect {
    padding: 85px 15% 0;
  }
}

@media(max-width: 1800px){
	#bonus {
    margin-top: 25%;
  }
}

@media(max-width: 1750px){
	#slider {
    margin-top: 100px;
	}
	#plan_sect {
    padding: 180px 15% 0;
  }
}

@media(max-width: 1700px){
	#bonus {
    margin-top: 17%;
  }
	#title_gb {
    margin-top: 11%;
	}
	#chromecast {
    margin-top: 5%;
	}
}
@media(max-width: 1620px){
	.brs{
		display: none;
	}
	#chrome_ {
    padding: 0px 7%;
	}
	#chromecast {
    margin-top:10%;
	}
}

@media(max-width: 1590px){
	#plan_sect {
    padding: 180px 20% 0;
  }
}

@media(max-width: 1500px){
	.supporters {
    bottom: -6%;
  }
  #chromecast {
    width: 330px;
    margin-top:12%;
  }
}

@media(max-width: 1495px){
	#plan_sect {
    padding: 195px 17% 0;
    margin-left: 35px;
	}
}

@media(max-width: 1480px){
	#plan_sect {
    margin-left: 30px;
  }
}

@media(max-width: 1475px){
	#plan_sect {
  	padding: 195px 25% 0;
	}
}

@media(max-width: 1380px){
	#slider h1 {
    font-size: 48px;
  }
	#slider {
    margin-top: -6px;
	}
	#owl-demo-v {
    margin-top: 210px;
	}
	#fan_pass h1{
		    margin-bottom: 50px !important;
	}
}

@media(max-width: 1320px){
	#slider h1 {
    font-size: 45px;
  }
  .over {
    margin-top: 50px;
	}
	#owl-demo-v {
    margin-top: 200px;
	}
}

@media(max-width: 1300px){
	#slider {
    margin-top: 140px;
	}

	#title_gb {
    margin-top: 8%;
	}
	h1 {
    font-size: 38px;
  }
  section p, #bonus p {
    font-size: 10px;
  }
  #fan_pass h1{
  	    margin-bottom: 40px !important;
  }
  #title_w {
    margin-bottom: 25px;
    margin-top: 40px;
	}

	#plan_btn{
	  bottom: 2%;
	}

}


@media(max-width: 1340px){
	#slider h1 {
    font-size: 40px;
  }
}

@media(max-width: 1230px){
	.over {
    font-size: 30px;
    margin-top: 50px;
	}
}

@media(max-width: 1210px){
	#plan_sect {
    padding: 130px 23% 0;
	}
}

@media(max-width: 1200px){
  #club_details {
    padding-left: 60px;
	}
	#personal_contact {
    padding-right: 60px;
  }
}


@media(max-width: 1170px){
	#slider {
    margin-top: 60px;
	}
}



@media(max-width: 1160px){
	#slider {
    margin-top: 60px;
	}
}


@media(max-width: 1120px){
	#slider {
    margin-top: 0px;
    margin-bottom: 0;
	}
	#slider h1 {
    font-size: 30px;
}
}


@media(max-width: 1100px){
  #footer {
    padding: 0 100px;
	}
  #footer_mask {
    padding: 0 100px;
	}
  #header {
    padding: 0 100px;
	}
#confirmation h2 {
    margin-top: 100px;
}
	
  #chromecast {
    width: 270px;
    margin-top:12%;
  }
}

#confirmation {
	height: inherit;
  padding-bottom: 230px;
}
@media(max-width: 1000px){
	.supporters {
    bottom: -11%;
  }
  #chromecast {
    width: 220px;
  }
  #slider {
    margin-top: 50px;
  }
  #owl-demo-v {
    margin-top: 160px;
	}
	#plan_sect {
    padding: 95px 25% 0;
    margin-left: 18px;
	}
}

@media(max-width: 990px){

	hr{
		display: none;
	}
	#club_details {
		padding: 0;
    text-align: left;
	}
	#personal_contact {
		padding: 0;
    text-align: left;
  }

  .input_right {
    padding-left: 0px !important;
    margin-top: 10px;
	}

	.input_left{
    padding-right: 0px !important;
	}

	#submit_content {
    width: 180px;
    margin: 0 auto;
	}

	.btn_clubs {
    width: 160px;
    height: 40px;
    font-size: 15px;
	}

}

@media(max-width: 950px){
	#bonus {
		    margin-top: 10%;
	}
}



@media(max-width: 900px){
  #footer {
    padding: 0 50px;
	}
  #footer_mask {
    padding: 0 50px;
	}
  #header {
    padding: 0 50px;
	}
  #chromecast {
  	margin-top: 0%;
  }
  #slider h1 {
    font-size: 22px;
	}
	#owl-demo-v {
    margin-top: 126px;
	}

	.over {
    font-size: 20px;
  }

}

@media(max-width: 850px){
  #chromecast {
  	margin-top: 10%;
  }
	#apply {
    padding: 0 100px;
	}

	#confirmation {
    padding: 0 50px;
  padding-bottom: 230px;
  }

	#title_gb {
    margin-top: 5%;
	}
	h1 {
    font-size: 26px;
  }
  section p, #bonus p {
    font-size: 8px;
  }

  #bonus {
    width: 320px;
    margin-top: 12%;
}

  #title_zv {
    margin-bottom: 20px;
    margin-top: 40px;
	}
	.good{
		font-size: 10px !important;
	}
}

@media(max-width: 830px){
	#bonus {
    width: 320px;
	}
}

@media(max-width: 800px){
	#header_movil {
		display: block;
	}
	.menu_web {
		display: none !important;
	}

	#burger{
		display: block;
	}
	#plan{
		padding-left:30px;
		padding-right:30px;
	}
	#slider {
    margin-top: 0px;
	}
}

@media(max-width: 730px){
	.brs2{
		display: none;
	}
	#title_w {
    margin-bottom: 10px;
    margin-top: 15px;
}
}


@media(max-width: 700px){
  #chromecast {
  	margin-top: 16%;
  	width: 150px;
  }
}

@media(max-width: 690px){
	#slider {
    margin-top: 30px;
	}
	#owl-demo-v {
    margin-top: 160px;
	}
	#title_s {
    margin-bottom: 0px;
  }
  .over {
    margin-top: 25px;
	}
	#plan_btn {
    bottom: 1%;
	}
	.btn_clubs {
    width: 140px;
    height: 30px;
    font-size: 12px;
	}
}

@media(max-width: 650px){
	#apply {
    padding: 0 50px;
	}
	#title_gb {
    margin-bottom: 20px;
  }
	.supporters h1{
		margin-bottom: 18px !important;
  }

  #fan_pass h1{
  	    margin-bottom: 10px !important;
  }
  #slider h1 {
    font-size: 16px;
	}
	#owl-demo-v {
    margin-top: 90px;
	}
	.over {
    font-size: 15px;
	}
}


@media(max-width: 630px){
  #chromecast {
  	margin-top: 9%;
  	width: 150px;
  }
}

@media(max-width: 630px){
	#title_b {
    margin-bottom: 10px;
  }
}

@media(max-width: 600px){

/*	#title_gb{
		font-size: 30px;
	}*/

	#confirmation > p {
    font-size: 16px;
  }

  #confirmation h2 {
    font-size: 40px;
  }
	#kobe > h1 {
		/*font-size: 30px;*/
		padding-right: 10px;
	}

	#kobe > p {
    font-size: 15px;
    margin-right: 10px;
	}

	#whats_contain{
		width: 100%;
	}

	#whats_contain{
		width: 100%;
	}

	#whats_contain > p, #haka p{
		padding: 1px 15px;

	}

	#haka > div > div{
		width: 100%;
	}

	#bonus p b {
		font-size: 8px !important;
	}

	#clubsin h4 {
    font-size: 25px;
	}

	#clubsin .view-with-margin-v{
		width: 100%;
		padding: 1px 10px;
	}

	#steps {
    float: left;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 80px;
    margin-left: 0px;
	}
/*
	#plan{
		height: 710px;
	}*/

	#footer {
		padding: 0 10px;
	}
	#footer_mask {
		padding: 0 10px;
	}
}

@media(max-width: 560px){
	h1 {
    font-size: 18px;
	}
	#chrome_ {
    padding: 0 4%;
}
	.brs3{
		display: none;
	}
}

@media(max-width: 520px){
  #chromecast {
  	width: 110px;
  }
  #slider h1 {
    font-size: 13px;
	}
}
@media(max-width: 500px){
	#apply > p {
    font-size: 16px;
  }

  #apply h2 {
    font-size: 40px;
  }
  #bonus {
    width: 200px;
    margin-top: 0%;
	}
}

@media(max-width: 480px){
	section p, #bonus p {
    font-size: 6px;
	}
  #chromecast {
  	width: 110px;
  }
}


@media(max-width: 460px){
	#slider {
    margin-top: 0px;
	}
}


@media(max-width: 450px){
	.supporters {
    bottom: -16%;
  }
}

@media(max-width: 415px){
	.supporters h1 {
    margin-bottom: 4px !important;
  }
}
@media(max-width: 400px){
	#rights {
	  width: 100%;
	  float: none;
	  display: block;
	}

	#chromecast{
		width: 100%;
		position: absolute;
    bottom: -100px;
    left: 1px;
    z-index: 99;
	}

	#plan {
    padding-bottom: 320px;
	}

	#footer {
		height: inherit;
	}

	#footer_mask {
		height: inherit;
	}
	#apply{
		    padding-bottom: 150px;
	}
}
